<div class="row">
    <div class="col-md-12 text-center">
        <h1 class="display-1 text-danger">Oops!</h1>
        <h2>Terjadi Kesalahan</h2>
        <p class="lead"><%= message %></p>
        <a href="/" class="btn btn-primary">Kembali ke Dashboard</a>
    </div>
</div> 